APP_NAME="UFG CRUD Laravel"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=es
APP_FALLBACK_LOCALE=es

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ufg_crud
DB_USERNAME=postgres
DB_PASSWORD=

FILESYSTEM_DISK=public
